<div class="row">
    <div class="col-xxxl-5 col-xxl-4 col-lg-4 col-md-6">
        <nb-card [size]="large">
            <nb-card-body class="nb-card-body">
                <div class="picture kid-photo" [style.backgroundImage]="kid.photoUrl"></div>

                <div class="details">
                    <div class="title">
                        {{kid.name}} {{kid.lastname}}
                    </div>
                </div>
            </nb-card-body>
            <nb-card-footer class="nb-card-footer">
                {{kid.groupName}}
            </nb-card-footer>
        </nb-card>
    </div>
    <div class="col-xxxl-7 col-xxl-8 col-lg-8 col-md-6">
        <nb-card [size]="xlarge">
            <nb-tabset fullWidth class="nb-tabset">
                <nb-tab tabTitle="Rodzice" class="tab-title">
                    <div class="contact parent-contact" *ngFor="let c of kid.parents">
                        <nb-user class="nb-user" [name]="c.name+' '+c.lastname" [picture]="'assets/images/'+c.photoUrl" size="large"></nb-user>
                        <div class="contact-details">
                            <i class="i-contact nb-phone icon-class"></i>
                            <span class="phone-number">{{c.phoneNumber}}</span>
                            <button class="btn" (click)="sendSms(c.phoneNumber, c.name+''+c.lastname)">Wyślij SMS</button>
                        </div>
                    </div>
                </nb-tab>
            </nb-tabset>
            
            <nb-tabset fullWidth class="nb-tabset">
                    <nb-tab tabTitle="Opiekunowie" class="tab-title">
                    <div class="contact keeper-contact" *ngFor="let c of kid.keepers">
                        <nb-user class="nb-user" [name]="c.name+' '+c.lastname" [picture]="c.photoUrl" size="large"></nb-user>
                        <div class="contact-details">
                            <i class="i-contact nb-phone icon-class"></i>
                            <span class="phone-number">{{c.phoneNumber}}</span>
                            <button (click)="sendSms(c.phoneNumber, c.name+''+c.lastname)">Wyślij SMS</button>
                        </div>
                    </div>
                </nb-tab>
            </nb-tabset>
        </nb-card>
    </div>

</div>