<div class="row">
  <div class="col-xxxl-12 col-xxl-12 col-lg-12 col-md-12">

    <div class="row">

        <nb-card class="col-md-4" [size]="large" *ngFor="let group of groupsObject">
          <nb-card-body class="nb-card-body">
            <div class="picture kid-photo" [style.backgroundImage]="group.photoUrl"></div>
            <div class="details">
              <div class="title">
                {{group.groupName}}
              </div>
            </div>
          </nb-card-body>
        </nb-card>

    </div>
  </div>
</div>
